/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a,
a:visited {
	color: var(--color-pink);
	text-decoration: none;
}

a:hover,
a:focus,
a:active {
	background: var(--color-yellow-100);
}

a:focus {
	outline: thin dotted;
}

a:hover,
a:active {
	outline: 0;
}

/*--------------------------------------------------------------
## Post navigation
--------------------------------------------------------------*/
.site-main .posts-navigation,
.site-main .post-navigation {
	margin: 0 auto 60px;
	max-width: var(--content-width);
	overflow: hidden;
}

.nav-links {
	display: flex;
	justify-content: space-between;
}

.posts-navigation .nav-previous,
.post-navigation .nav-previous,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	width: calc(50% - 5px);

	a {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 80px;
		padding: 10px;
		background: var(--color-yellow-200);
		text-decoration: none;
		text-transform: uppercase;
		text-align: center;
		font-weight: bold;
		font-size: 12px;
		letter-spacing: 1px;
		transition: 0.2s all;
		color: var(--color-text);

		&:hover {
			color: white;
			background: var(--color-pink);
		}
	}
}

.posts-navigation .nav-previous a,
.post-navigation .nav-previous a {
	border-radius: 40px 0 0 40px;
}

.posts-navigation .nav-next a,
.post-navigation .nav-next a {
	border-radius: 0 40px 40px 0;
}
