:root {
	--content-width: 636px;
	--color-heading: #32373c;
	--color-text-light: #999;
	--color-text: #444;
	--color-border: #ddd;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
optgroup,
textarea {
	color: var(--color-text);
	font-size: 18px;
	line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #32373c;
	clear: both;
}

.entry-header h1.entry-title {
	font-size: 2.44em;
	line-height: 1.4;
	margin: 1em 0;
}

.entry-title {
	margin-bottom: 0.2em;
	text-align: center;
}

.entry-title a {
	color: var(--color-heading);
	text-decoration: none;

	&:hover {
		color: var(--color-heading);
		text-decoration: underline;
	}
}

.entry-meta {
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 12px;
	letter-spacing: 1px;

	a {
		color: var(--color-text-light);
		text-decoration: none;
	}
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

.archive .site-header {
	margin-bottom: 3.5em;
}

.site-title {
	margin: 0.4375em 0 0;
	font-size: 38px;
	font-weight: bold;
	line-height: 1.2;
	color: #333332;
}

.site-title a {
	text-decoration: none;
	color: inherit;
}

.site-branding {
	margin-bottom: 1.75em;
}

.site-description {
	margin: 0.4375em 0 0;
	font-size: 17px;
	font-weight: inherit;
	line-height: 1.4;
	word-wrap: break-word;
	color: #585858;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
	color: #0073aa;
}

a:visited {
	color: #333;
}

a:hover,
a:focus,
a:active {
	color: #00a0d2;
}

a:focus {
	outline: thin dotted;
}

a:hover,
a:active {
	outline: 0;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation {
	clear: both;
	display: block;
	margin: 0 auto;
	max-width: var(--content-width);
	text-align: center;
}

.main-navigation ul {
	display: none;
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.main-navigation ul ul {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	float: left;
	position: absolute;
	top: 100%;
	left: -999em;
	z-index: 99999;
	text-align: left;
}

.main-navigation ul ul ul {
	left: -999em;
	top: 0;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
	left: 100%;
}

.main-navigation ul ul a {
	width: 200px;
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
	display: block;
	left: auto;
}

.main-navigation li {
	position: relative;
}

.main-navigation a {
	display: block;
	text-decoration: none;
}

.menu-toggle {
	padding: 1em;
}

@media screen and (max-width: 37.5em) {
	/* Small menu. */
	.menu-toggle,
	.main-navigation.toggled ul {
		display: block;
		margin: 0 auto;
	}
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}

	.main-navigation a {
		padding: 0 0.5em;
	}
}

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
	border-bottom: 1px solid #111;
	margin: 0 auto 60px;
	max-width: var(--content-width);
	overflow: hidden;
	padding-bottom: 60px;
}

.nav-links {
	display: flex;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	width: 50%;
	flex: 1 0 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	text-align: end;
	flex: 1 0 50%;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	word-wrap: normal !important;
	/* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
	/* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#primary[tabindex="-1"]:focus {
	outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/

.alignleft,
.alignright {
	max-width: var(
		--content-width
	) !important; /* Let's work to make this !important unnecessary */
}

.alignleft img,
.alignright img,
.alignleft figcaption,
.alignright figcaption {
	max-width: 50%;
	width: 50%;
}

.alignleft figcaption {
	clear: left;
}

.alignright figcaption {
	clear: right;
}

.alignleft img,
.alignleft figcaption {
	float: left;
	margin-right: 1.5em;
}

.alignright img,
.alignright figcaption {
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget-area {
	width: 25%;
}

.widget {
	margin: 0 0 1.5em;
	/* Make sure select elements fit in widgets. */
}

.widget select {
	max-width: 100%;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
#page {
	margin: 0 auto;
	max-width: 100%;
}

.site-branding {
	text-align: center;
	margin: 60px 0;
}

.site-footer {
	margin: 1em 0;
	opacity: 0.5;
}

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.post {
	&:after {
		content: "";
		display: block;
		width: 150px;
		height: 5px;
		margin: 80px auto 0 auto;
		background: var(--color-border);
	}
}

.sticky {
	display: block;
}

.hentry {
	margin: 60px 0;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.entry-content > * {
	margin: 20px auto;
	max-width: var(--content-width);
	padding-left: 14px;
	padding-right: 14px;
}

.entry-content > .alignwide {
	max-width: 1100px;
}

.entry-content > .alignfull {
	margin: 1.5em 0;
	max-width: 100%;
}

.entry-content ul,
.entry-content ol {
	margin: 1.5em auto;
	max-width: var(--content-width);
	list-style-position: outside;
}

.entry-content li {
	margin-left: 2.5em;
	margin-bottom: 6px;
}

.entry-content ul ul,
.entry-content ol ol,
.entry-content ul ol,
.entry-content ol ul {
	margin: 0 auto;
}

.entry-content ul ul li,
.entry-content ol ol li,
.entry-content ul ol li,
.entry-content ol ul li {
	margin-left: 0;
}

@media screen and (min-width: 768px) {
	.entry-content > * {
		padding-left: 0px;
		padding-right: 0px;
	}
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.entry-header,
.page-header,
.entry-footer,
.site-info,
.post-navigation,
.page-navigation,
.comments-area,
.not-found .page-content,
.search .entry-summary {
	margin: 1.5em auto;
	padding-left: 14px;
	padding-right: 14px;
	max-width: var(--content-width);
}

.entry-header .wp-post-image {
	margin-bottom: 1.5em;
}

.entry-footer span {
	margin-right: 1em;
}

.entry-footer {
	color: #585858;
	font-size: 90%;
	padding-bottom: 40px;
	border-bottom: 1px solid #111;
}

@media screen and (min-width: 664px) {
	.entry-header,
	.page-header,
	.entry-footer,
	.site-info,
	.post-navigation,
	.page-navigation,
	.comments-area,
	.not-found .page-content,
	.search .entry-summary {
		padding-left: 0;
		padding-right: 0;
	}
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
	display: inline-block;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.3333333333%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.6666666667%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.2857142857%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.1111111111%;
}

.gallery-caption {
	display: block;
}
