:root {
	--content-width: 636px;
	--color-heading: #32373c;
	--color-text-light: #999;
	--color-text: #444;
	--color-border: #ddd;
	--color-link: #0073aa;
	--color-link-active: #00a0d2;
	--color-bg-light: #f8f8f8;
	--color-bg-dark: #f3f3f3;
}
