:root {
	--content-width: 636px;
	--content-width-wide: 780px;

	--color-pink: #ef456e;
	--color-yellow-100: #f8f8f8;
	--color-yellow-200: #f8f8f8;

	--color-text-light: #888;
	--color-text: #444;
	--color-border: #ddd;
	--color-bg-light: #f8f8f8;
	--color-bg-dark: #f3f3f3;
}
